# EmailJS - Get these from https://www.emailjs.com/
# 1. Sign up / login to EmailJS
# 2. Add a Gmail service (Settings > Email Services > Add New Service > Gmail)
# 3. Create an email template (Email Templates > Create New Template)
#    In the template, use variables: {{from_name}}, {{from_email}}, {{message}}, {{inquiry_type}}
#    Set "To Email" to madhavsaiv789@gmail.com
# 4. Copy your Public Key from Account > General

VITE_EMAILJS_SERVICE_ID=your_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here
